.form-control {
	display: block;
	width: 100%;
	font-size: 30px !important;
	font-weight: 400;
	line-height: 1.5;
	border-color: #00ac96 !important;
	border-style: solid !important;
	border-width: 0 0 3px 0 !important;
	padding: 10px !important;
	color: #495057;
	height: auto !important;
	border-radius: 0 !important;
	background-color: #fff;
	background-clip: padding-box !important;
}
